
body {Background-color:#808000;}
h1 {color:#f0ffff; font-family:arial; text-align:center;}
	p {color: #e0ffff;font-family: Arial, Helvetica, sans-serif;}
footer{font-size:slarge;color:thistle;}
h2{background-color: indigo; padding:20px;}
nav{text-align: center;}
.bottomless{bottom:0;position:fixed;bottom:0;color:greenyellow;}

.tekkenwikibutton{background-color: hotpink;color:ivory;}
.titles{text-align: center; font-size: 2em; color:cadetblue; font-style: italic;}
.alignment {Float:left; Padding: 10px; border:  silver solid 3px;}
header{background-color:#FF0000;}
button{background-color:#00FF00;}
.akumabutton{background-color:#FF0000; border-color:#FFFFFF; font-family: Arial, Helvetica, sans-serif;}
.lawbutton {background-color:#00FFFF; border-color:#FFFFFF;}
.armorkingbutton{background-color:#00ffbf; border-color:#FFFFFF;}
.kingbutton{background-color:black; color:white;}
.fengbutton{background-color: chocolate;color:cornsilk;}
.giggasbutton{background-color: gainsboro;color:dimgray;}
.bryanbutton{background-color: firebrick; color:greenyellow;}
.hwoarangbutton{background-color: lightskyblue;color:midnightblue;}
.pandabutton{background-color: ivory;color:orange;}
	a{text-decoration:none;}

